---
---
<div class="p-4 text-sm italic text-center">
    <p>Lavet med masser af hårdt arbejde af Sten Simons [indsæt et hero-icon]</p>
    <p>Copyright 2025 Sten Simons & forlaget Mellem Linjerne </p>
</div>